.devInfo img{
    height:150px; 
    width:150px; 
    border-radius: 50%;
}

.moviePoster{
    height:300px;
    width:200px;
}

.devProfile{
    background: rgb(107,110,236);
    background: linear-gradient(330deg, rgba(107,110,236,1) 0%, rgba(211,242,255,1) 100%); 
    text-transform: uppercase;
    color:white;
    text-shadow: 2px 0px 0px #141640; 
}

.devInfo{
    display: inline-block;
    width:50%; 
}