// FOOTER SECTION 

.footer {
  justify-content: space-between;
  padding: 35px 0;
}

footer a:hover{
color: #6b6eec;
}

footer a:focus {
    padding: 2px;
}

.dearJuno {
  display: flex;
}

.fa-github, .svg-inline--fa {
  margin-left: 5px;
  vertical-align: -0.375em;
  
}