.informationSection {
  padding: 80px 0;
  h2 {
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5rem;
  }
}
.infoContainer {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  justify-content: center;
}

.infoBox {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    padding-top: 10px;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 90%;
    text-align: center;
  }
  a {
    margin-top: 20px;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255) 30%,
      rgba(142, 249, 244, 0.3) 71%,
      rgba(150, 250, 245, 1) 100%
    );
    border-radius: 30px;
    padding: 10px 40px;
    text-align: center;
  }
}
.infoBox a:hover {
  background-color: #8ef9f4;
  transition: 0.5s ease;
}
.infoBox a:active {
  background-color: transparent;
  transition: 0.6s ease;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
}
.tldr {
  margin-top: 30px;
  background-color: #141640;
  color: white;
}

.movIcons {
  width: 100px;
  height: 115px;
  background-image: linear-gradient(135deg, #7544ce 25%, #1192fd 75%);
  border: 10px solid #141640;
}

.svg-inline--fa.fa-w-18,
.svg-inline--fa.fa-w-12 {
  width: 100px;
  padding: 25px 25px;
}

@media (max-width: 495px) {
  .infoContainer {
    padding-top: 10px;
  }
  .movIcons {
    display: none;
  }
}
