// Results Page 

.resultsSection {
  padding: 50px 0;
}

.resultsError {
        margin: 20px auto;
        text-align: center;
      }

.titleResults {
  display:flex;
  justify-content:center;
  align-items:center;
      h2 {
        font-size:2rem;
      }
  }

.results {
    // display: flex;
    // align-items: center;
    // margin:auto 0;
    // justify-content:space-between;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px; 
    justify-content:center;

        p {
        padding:50px;
        text-transform: capitalize;
      }

            // .gifBox {
            //   background-color: none;
            //   border-radius: 15px;
            //   -webkit-box-shadow: 6px 10px 0px 5px #6B6EEC; 
            //   box-shadow: 12px 10px 0px 5px #6B6EEC;
            //   width: 25vw;
            //   height:40vh;
            //       display:flex;
            //       flex-direction:column;
            //       align-items:center;
            //}

            .gifBox p {
              text-align: center;
            }

            .gifBox img {
              cursor: pointer;
              // object-fit: cover;
              // overflow: hidden; 
              // display: flex;
              // align-items: center;
              border-radius: 15px;
              width: 25vw;
              height:40vh;
              transition: opacity 0.1s;
            }
  }

//   .results {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     justify-content:space-between;
//     padding: 40px 0;
//         p {
//         padding:20px;
//         text-transform: capitalize;
//       }
// }

.gifBox {
  background-color: gainsboro;
  border-radius: 15px;
  -webkit-box-shadow: 6px 6px 0px 5px #6B6EEC; 
  box-shadow: 6px 8px 0px 1px #6B6EEC;
  position: relative;
  width: 25vw;
  height: 40vh;
  display:flex;
  flex-direction:column;
  align-items:center;
}


// GIF Results 
// left button mostly not visible till we know if we want to do more with it
.gifButton {
  border-radius: 15px;
  border: none;
  background: none;
justify-content:center;
}


.gifButton:focus img  {
  border: 4px solid white;
}

.gifButton:hover{
  img{
    border: 4px solid;
    opacity: 0.5;
  }
}

.gifButton > img:active {
  opacity: 1;
}

//Riley's addition
// .gifButton:focus img  {
//   border: 4px solid white;
// }

// .gifButton:hover img {
//     border: 4px solid white;
//     opacity: 0.5;
// }

// .gifButton > img:active {
//   opacity: 1;
// }

// //
// .keywordButton:focus {
//     outline: 2px solid #12121c; 
//     transition: 0.1s ease;
//   }

//   .keywordButton:hover {

//     transition: 0.1s ease;
//   }
  
//   .keywordButton:hover {
//     border: 3px solid #12121c;
//     padding: 9px 19px;

//   }

//   .keywordButton:active {
//     background-color: transparent;
//     transition: 0.6s ease;
//   }
//   //
.keywordButton {
  padding: 10px 40px;
  margin-top: 20px;
  background: radial-gradient(circle, rgba(255,255,255) 30%, rgba(142,249,244,0.3) 71%, rgba(150,250,245,1) 100%);
  border-radius: 30px;
  text-align: center;
  // align-items: center;
  border:none;
  max-width:100%;
}

.keywordButton:hover {
background-color: #8ef9f4;
transition: 0.5s ease;
color:black;
}

.keywordButton:active {
  background-color: transparent;
  transition: 0.6s ease;
}

.gifBox p {
  padding: 0;
  text-align: center;
}

// ---------------------

