// SEARCH SECTION 
.searchSection {
  background-color: #141640;
  color: #eaeaf0;
  padding: 50px 0; 
}

.searchError {
  margin: 0 auto 20px;
  width: 50vw;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 20px;
  border-right: .15em solid #8ef9f4;
  animation:
  blink .8s infinite;
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: #8ef9f4; }
} 
input {
  border-radius:30px;
  padding:10px 50px;
  border: none; 
}
.searchBar{
  position: relative;
}
form button {
  font-size:30px; 
  background-color: transparent;
  border: none;
  position: absolute;
  left: 84%;
  bottom:10%; 
  cursor: pointer;
}

form div {
  position: relative;
}

// SEARCH TYPOGRAPHY 
label{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size:25px; 
}
input{
letter-spacing: 2px;
}
form button:focus {
  outline: none;
}

.svg-inline--fa.fa-w-16 {
  height: 1.1em;
  width: 1.1em;
}

form button svg {
  padding: 2px;
}

form button:focus svg {
  outline: 1px solid #6b6eec;
}

form button:hover{
  color: #8ef9f4; 
}

form button:active svg {
  color: initial; 
  outline: none;
}
@media (max-width: 900px) {
  
    .searchBar {
      max-width: 100%;
      margin-left: 20px;
      input {
        max-width: 91%;
      }
      button {
        left: 75%;
      }
    }
}

@media (max-width: 500px) {

.searchSection label { 
    width: 90%; 
  }

}