// SEARCH SECTION 
label {
    margin-bottom: 20px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

form input {
border: none;
border-radius: 15px;
line-height: 1.7;
padding: 4px 10px;
}

form button {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 85%;
  top: 25%;
}

button {
  cursor: pointer;
}
form .flexBox {
  position: relative;
}
.searchSection {
  background-color: #141640;
  color: #eaeaf0;
  padding: 70px 0;
}