// SEARCH SECTION 
.searchSection {
  background-color: #141640;
  color: #eaeaf0;
  padding: 50px 0; /* added some padding */
}

// search error position
.searchError {
  margin: 0 auto 20px;
  width: 50vw;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 20px;
  border-right: .15em solid #8ef9f4;
  animation:
  blink .8s infinite;
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: #8ef9f4; }
} 
input {
  border-radius:30px;
  padding:10px 50px;
  border: none; 
}
form button {
  font-size:30px; 
  background-color: transparent;
  border: none;
  position: absolute;
  left: 84%;
  bottom:10%; 
}
button {
  cursor: pointer;
}

form div {
  position: relative;
}

// SEARCH TYPOGRAPHY 
label{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size:25px; 
}
input{
letter-spacing: 2px;
}
form button:hover{
  color: #8ef9f4; 
}