@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './styles/header';
@import './styles/footer';
@import './styles/setup'; 
@import './styles/results'; 
@import './styles/info'; 
@import './styles/search'; 


////////// TYPOGRAPHY ////////////
body, form button, form input {
  font-family: 'Lato';
}
h1, h2, label {
  font-weight: 300px;
  font-family: 'Kanit', sans-serif;
}

// HEADER TYPOGRAPHY 
nav li{
text-transform: uppercase;
font-weight: bold;
}
nav a:hover{
color:navy;
padding-bottom: 2px; 
border-bottom: navy 2px solid;
cursor: pointer;
}

html {
  font-size: 125%}

body {
  color: #12121c;
}

/* Stabilizing Base Styles */

body, ul, h1, h2, h3, p { 
  margin: 0; 
  padding: 0; 
}
  
  ul { 
    list-style: none; } 

  a { 
    color: inherit; text-decoration: none; } 

  img { 
    width: 100%; 
    height: auto;  
  } 

/* Convenient Classes */

.wrapper { 
  max-width: 1200px; 
  width: 90%; 
  margin: 0 auto;
}

.flexBox {
  display: flex;}

.button, a {
  transition: all 0.1s ease-out;
  outline: none;
}

a:focus, 
input:focus, 
button:focus {
  outline: 2px solid #6b6eec;
}

a:active, 
input:active, 
button:active {
  outline: 1px solid #6b6eec;
}

input {
    border-radius:30px;
    padding:10px 50px;
}

//SKIP TO CONTENT 
.skip-link {
  position: absolute;
  left: -1000px;
  line-height: 1.7;
  top: 5px;
  z-index: 999;
  height: 79px;
  padding: 20px 30px;
  text-align: center;
  background-color: #141640 ;
  color: #eaeaf0;
  border: none;
  border-radius: 15px;
}

.skip-link:focus {
  left: 0;
  margin-left: 10px;
}

// LOADING STATE
header ~ .loader {
  display: none;
}
.loader {
  position: absolute;
  display: block;
  background-color: #6B6EEC;
  left: 0;
  right: 0;
  }
